@charset "UTF-8";

*{
	margin:0;
	padding:0;
}
body{								
	font-family: "Maven Pro", "Noto Sans KR", Sans-serif;
	font-size: 14px;
	font-weight:400;
	color:#666;						
}
ul{
	list-style: none;
}
.d-none{
	display: none;
}

.header{
	background: url("../images/visual_bg.jpg") no-repeat center/cover;
	height: 950px;
}
.header figure{
	max-width: 1000px;
	margin:0 auto;
	position: relative;
}
.logo{
	position: absolute;
	top:3rem;
}
.btn-menu{
	position: absolute;
	top:3rem;
	right: 0;
}
.slogan{
	position: absolute;
	top:18rem;
	left:17rem;
}
.water{
	display: flex;
	justify-content: space-between;
}
.water img{
	border-radius: 50%;
}
.overlay{
	position: absolute;
}
.overlay a:hover{
	opacity: 50%;
}
.system-wrap{
	background: url("../images/system_bg.jpg") no-repeat center/cover;
	height:705px;
}
.system-wrap article{
	max-width:1000px;
	margin:0 auto;
}
.system h1{
	font-size:30px;
	font-weight: 500;
	color:#1e598c;
	border-bottom:1px solid #1e598c;
	padding:5rem 0 1rem;
	text-align: center;
}
.system h2{
	font-size:20px;
	font-weight: 500;
	color:#fff;
	background: #1e598c;
	text-align: center;
	margin:0 auto;
	width:300px;
	margin-bottom: 5rem;
}
.product-wrap{
	background: url("../images/product_bg.gif");
	height:800px;
}
.product-wrap article{
	max-width:1000px;
	margin:0 auto;
}
.product h1{
	font-size:30px;
	font-weight: 500;
	color:#1e598c;
	border-bottom: 1px solid #1e598c;
	padding:5rem 0 1rem;
	text-align: center;
}
.product h2{
	font-size:36px;
	font-weight:700;
	color:#000;
	text-align: center;
	margin-bottom:2rem;
}
.product span{
	color:#ed480e;
}
.product-img{
	text-align: center;
	margin-bottom:2rem;
}
.more{
	text-align: center;
	font-size:1rem;
	color:#000;
	border:1px solid #000;
	margin:0 auto;
	padding:1rem;
	width:10rem;
	border-radius: 30px;
}
.more a{
	text-decoration: none;
	color:#000;
}
.more:hover{
	color:white;
	background: #666;
	text-decoration:none;			/* 배경은효과 적용되고 글자색은 안됨 */
}
.company{
	padding-top:7rem;
	color:#193f5c;
}
.company-wrap{
	background: url("../images/company.png") no-repeat right,
	url("../images/company_bg.jpg") no-repeat center/cover;
	height:382px;
}
.company-wrap article{
	max-width:1000px;
	margin:0 auto;
}
.company h1{
	font-size:20px;
}
.company h2{
	font-size:30px;
}
.company h3{
	font-size:30px;
	font-weight: 300;
}
.btns-wrap{
	background: #f5f5f5;
	height:60px;
}
.btns{
	max-width:1000px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.call{
	display: flex;
	align-items: center;
}
.call a{
	padding:10px;
	font-size:20px;
	font-weight: 700;
	color:#e86708;
	text-decoration: none;
}
.footer-wrap{
	max-width:1000px;
	margin:0 auto;
	height:500px;
	text-align: center;
}
.footer-logo{
	padding:5rem 0 1rem;
}
.addr, .info{
	font-size:13px;
	color:#666;
	word-spacing: 5px;
	padding-bottom: 1rem;
}
.copyright{
	font-size:11px;
	color:#999;
	padding:1rem;
}
















